<p style="color: green"><%= notice %></p>

<h1>Notes</h1>
<div> Welcome <%= current_user.email %> </div>
<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_note_path %>

<%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>